@{
    ViewBag.Title = "Home Page";
}
<div style="align-content:center">
    <h2>HOLA, COMO ESTAS ?</h2><br />
    <h3>ESPERO QUE BIEN</h3><br />
    <h1>YA COMISTE ?</h1><br /><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZqwfusOI3Xo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
